#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=compiz --replace
Name=Enable 3D Desktop
Comment=Enable 3D Magnification and Colour Changing
Icon=/usr/share/icons/gnome/scalable/apps/preferences-desktop-wallpaper.svg
Categories=GNOME;GTK;Accessibility
