
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/gnome/scalable/emotes/face-cool.svg
Name[en_GB]=Emacspeak
Comment[en_GB]=Advanced Audio Desktop
Exec=xterm -maximized -e aoss emacspeak -nw
Name=Emacspeak
Comment=Advanced Audio Desktop
Icon=/usr/share/icons/gnome/scalable/emotes/face-cool.svg
Categories=GNOME;GTK;Accessibility
