#!/usr/bin/env xdg-open

[Desktop Entry]
Categories=GNOME;GTK;Utility;Accessibility;
Comment=Navigate applications and type using alternative input devices
Exec=gok
Icon=gok
Name=On-Screen Keyboard
NoDisplay=false
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Product=gok
X-Ubuntu-Gettext-Domain=gok
