#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=metacity --replace
Name=Disable 3D Desktop
Comment=Disable 3D Magnification and Colour Changing
Icon=/usr/share/icons/gnome/48x48/actions/gtk-zoom-out.png
Categories=GNOME;GTK;Accessibility
