#!/usr/bin/env xdg-open

[Desktop Entry]
Categories=GNOME;GTK;Settings;X-GNOME-PersonalSettings;
Comment=Change the behaviour and appearance of file manager windows
Exec=nautilus-file-management-properties
Icon=system-file-manager
Name=File Management
NoDisplay=false
OnlyShowIn=GNOME;
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=Preferences
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Version=2.30.1
X-Ubuntu-Gettext-Domain=nautilus
