#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=gnome-volume-control
Name[en_GB]=Restore Speech
Exec=sh -c "(gksu restorespeech && (echo "Done"; echo 100)) | zenity --progress --auto-kill --title='Restore Speech' --text='Running.  This may take a couple minutes.'"
Comment[en_GB]=Restore system-wide settings to enable Orca in Gnome, and speakup on the consoles
Name=Restore Speech
Comment=Restore system-wide settings to enable Orca in Gnome, and speakup on the consoles
Icon=gnome-volume-control
Categories=GNOME;GTK;Accessibility
