#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=gksu nautilus
Name=File Browser (Root)
Comment=Browse Files and Directories as Superuser
Icon=/usr/share/icons/gnome/scalable/categories/applications-utilities.svg
Categories=GNOME;GTK;Utility
