
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/gnome/48x48/apps/web-browser.png
Name[en_GB]=vinuxproject.org website
Exec=firefox http://vinuxproject.org
Comment[en_GB]=Visit the Vinux Website
Icon=/usr/share/icons/Nuvola/scalable/categories/applications-internet.svg
Categories=GNOME;GTK;Accessibility
