#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_GB]=/usr/share/icons/Humanity/apps/48/display-capplet.svg
Name[en_GB]=EasyInstall-Graphics
Exec=/usr/share/EasyInstall/EasyInstall-Graphics
Comment[en_GB]=Install graphics packages
Name=EasyInstall-Graphics
Comment=Install graphics packages
Icon=/usr/share/icons/Humanity/apps/48/display-capplet.svg
