
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/gnome/scalable/apps/gnome-terminal.svg
Name[en_GB]=EasyInstall-TextTools
Exec=/usr/share/vinux/EasyInstall/EasyInstall-TextTools
Comment[en_GB]=Install a suite of text-based tools
Name=EasyInstall-TextTools
Comment=Install a suite of text-based tools
Icon=/usr/share/icons/gnome/scalable/apps/gnome-terminal.svg
