#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en]=softwarecenter
Name[en]=QuickStart Guide
Exec=firefox /usr/share/vinux/quickstart.html
Comment[en]=Beginners start here!
Name=QuickStart Guide
Comment=Beginners start here!
Icon=softwarecenter
