
[Desktop Entry]
Type=Application
Exec=espeak "Press Control + Alt + Q to open the Vinux Manual!"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=QuickStart
Name=QuickStart
Comment[en_GB]=Vinux Manual Keybinding Prompt
Comment=Vinux Manual Keybinding Prompt
