
[Desktop Entry]
Type=Application
Exec=sleep 4 && espeak -s 170 "To view the quick launch guide, please push Control, Alt, plus Q;"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=QuickStart
Name=QuickStart
Comment[en_GB]=Vinux Manual Keybinding Prompt
Comment=Vinux Manual Keybinding Prompt
