
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/gnome/scalable/categories/gnome-graphics.svg
Exec=/usr/share/vinux/EasyInstall/EasyInstall-Graphics
Name[en_GB]=EasyInstall-Graphics
Comment[en_GB]=Install a variety of graphics packages
Name=EasyInstall-Graphics
Comment=Install a variety of graphics packages
Icon=/usr/share/icons/gnome/scalable/categories/gnome-graphics.svg
Categories=System;
Comment[en_GB.utf8]=Install Gimp, Inkscape and Scribus
