#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/gnome/scalable/emotes/face-cool.svg
Name[en_GB]=EasyInstall-Virtualize
Exec=/usr/share/vinux/EasyInstall/EasyInstall-Virtualize
Comment[en_GB]=Install Qemu and VirtualBox
Name=EasyInstall-Virtualize
Comment=Install Qemu and VirtualBox
Icon=/usr/share/icons/Nuvola/scalable/actions/go-jump.svg
Categories=System;
