#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/gnome/scalable/apps/web-browser.svg
Name[en_GB]=EasyInstall-Google
Exec=/usr/share/vinux/EasyInstall/EasyInstall-Google
Comment[en_GB]=Install a suite of Google applications
Name=EasyInstall-Google
Comment=Install a suite of Google applications
Icon=/usr/share/icons/gnome/48x48/categories/applications-internet.png
Categories=System;
