#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/icons/Humanity/actions/128/help-contents.svg
Name[en_US]=EasyInstall-Documentation
Exec=/usr/share/vinux/EasyInstall/EasyInstall-Documentation
Comment[en_US]=Install help files and manuals etc
Name=EasyInstall-Documentation
Comment=Install help files and manuals etc
Icon=/usr/share/icons/Humanity/actions/128/help-contents.svg
