#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/gnome/scalable/categories/applications-office.svg
Exec=gksu /usr/share/vinux/EasyInstall/EasyInstall-Office
Name[en_GB]=EasyInstall-Office
Comment[en_GB]=Install Open Office and Evolution
Name=EasyInstall-Office
Comment=Install Open Office and Evolution
Icon=/usr/share/icons/Nuvola/scalable/apps/accessories-text-editor.svg
Categories=System;
