#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/gnome/scalable/status/gtk-dialog-authentication.svg
Name[en_GB]=EasyInstall-Security
Exec=/usr/share/vinux/EasyInstall/EasyInstall-Security
Comment[en_GB]=Install firewall and anti-virus software
Name=EasyInstall-Security
Comment=Install firewall and anti-virus software
Icon=/usr/share/icons/gnome/scalable/status/gtk-dialog-authentication.svg
Categories=System;
